body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 10px;
  }

.container{
  margin: 0px auto;
  width: 100%;
}

.container> h1 {
margin-top:1em;
margin-bottom: 1em;
font-family:sans-serif;
font-size:2.24em;
letter-spacing:.15em;
text-align:left;
text-transform:uppercase;
}

.preview {
  height:30em;
  width: 100%;
  background-size:cover;
  background-position:center;
}

.preview> h1 {
font-size:2em;
padding:10%;
text-align: left;
font-family: serif;
}

.baku {
  background-image: url("../images/baku.jpg");
}

.london {
  background-image: url("../images/london.png");
  }

.madrid {
  background-image: url("../images/madrid.jpg");
  }

.rome {
  background-image: url("../images/rome.jpg");
    }

@media screen and (min-width: 575px){
  .container{
    width:80%;
  }
  .container> h1 {
    text-align: center;
  }
  .preview {
    display: inline-block;
    margin:1%;
    height: 20em;
    width:38%;
  }
}

@media screen and (min-width: 991px){
  .container{
    width:80%;
  }
  .container> h1 {
    text-align: center;
  }
  .preview{
    display: inline-block;
    margin:1%;
    height: 20em;
    width:17%;
  }
}
